.navbar {
  width: 220px;
  background-color: #201f24;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  position: sticky;
  top: 0;
}

.navbar h1{
    font-size: 32px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar a:hover {
  color: white;
}
